/* Colors */
:root {
    --color-primary: #6efafb;
    --color-turquoice-dark: #44dee3;
    --color-body: #000000;
    --color-heading: #ff7f50;
    --color-seccondary: #ffdb58;
}

/* Typography */
html {
    font-size: 62.5%;
}

@font-face {
    font-family: iransans-medium;
    font-style: none;
    font-weight: 500;
    src: url(/fonts/IRANSansWeb_Medium.woff),
    url(/fonts/IRANSansWeb_Medium.woff2);
}

@font-face {
    font-family: iransans-bold;
    font-style: none;
    font-weight: bold;
    src: url(/fonts/IRANSansWeb_Bold.woff),
    url(/fonts/IRANSansWeb_Bold.woff2);
}

@font-face {
    font-family: iransans-light;
    font-style: none;
    font-weight: 200;
    src: url(/fonts/IRANSansWeb_light.woff),
    url(/fonts/IRANSansWeb_light.woff2);
}



body {
    font-size: 2rem;
    font-family: iransans-medium;
}

h1, h2, h3 {
    color: var(--color-heading);
    font-family: iransans-bold;
}

h1 {
    font-size: 3.4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.4rem;
}

p {
    color: var(--color-body);
    font-size: 2rem;
}

